<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>API TEST</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<div  id="login_section" style="padding:10px;border:2px solid green;">
<H1>Authenication</H1>    
<form action="/apiLoginToken" id="loginForm" method="POST">
    <p  style="display:none" >Username :  </p><input type="text"  style="display:none" name="username" > <br/>
    <p  style="display:none" >Password :  </p>  <input type="password"  style="display:none" name="password" > <br/>
    <input type="submit" value="Authenicate">
    Token : <textarea  name="pretoken" id="pretoken" ></textarea> <br/>
    
</form>
    </div>
<div id="post_action_section" style="display:none;padding:10px;border:2px solid green;">
<H1>POST ACTION</H1>
<form action="/apiTestPostJson" id="searchForm" method="POST">
    
    <input type="text" name="server" size="70" value="https://core.hkexstaging.datahex.rozettatech.com">
    <br/>
    <div>
    <input type="text" name="url" size="70" value="/api/account/v1/preferences">
</div>
    <textarea  style="display:none"  name="header" >
    {    
            "Authorization": "Bearer "  
    }
    </textarea>
    <br/>
    <textarea   name="data" cols="70" rows="10">
    {
        "extract.includeFieldTypes": "true",
        "extract.useLocalTime": "false",
        "extract.dateFormat": "YYYY-MM-DD",
        "extract.periodType": "Slice",
        "extract.upload": "None",
        "extract.maxFileSize": "2"
      }</textarea>
    <br/>
    <input type="text" name="token" style="display:none"  id ="token" placeholder="Search...">
    <br/>
    <input type="submit" value="Search">
</form>
<!-- the result of the search will be rendered inside this div -->
</div>
<div  id="result_section" style="display:none;padding:10px;border:2px solid green;">
<pre id="result"></pre>
</div>
<script>
// Attach a submit handler to the form
$( "#searchForm" ).on( "submit", function( event ) {
 
  // Stop form from submitting normally
  event.preventDefault();
 
  // Get some values from elements on the page:
  var $form = $( this ),
    server = $form.find( "input[name='server']" ).val(),
    url = $form.find( "input[name='url']" ).val(),
    header = $form.find( "textarea[name='header']" ).val(),
    data = $form.find( "textarea[name='data']" ).val(),
    token = $form.find( "input[name='token']" ).val(),
    action = $form.attr( "action" );
 
    $.post(action,
    {
        server : server,
        url : url,
        header : header,
        token : token,
        data : data
    },
    function(data, status){
        //var content = $( data ).find( "#content" );
        //$( "#result" ).empty().append( data);
        var result=data;
        
        try {
            result=JSON.stringify(JSON.parse(data), undefined, 2);
          }
          catch(err) {
            result=data;
          }
        document.getElementById("result").innerHTML = result;
    });


} );

$( "#loginForm" ).on( "submit", function( event ) {
 
    // Stop form from submitting normally
    event.preventDefault();
   
    // Get some values from elements on the page:
    var $form = $( this ),
      username = $form.find( "input[name='username']" ).val(),
      password = $form.find( "input[name='password']" ).val(),
      action = $form.attr( "action" );
   
      $.post(action,
      {
          username : username,
          password : password
      },
      function(data, status){
          document.getElementById("pretoken").innerHTML =data;
          document.getElementById("token").value =data;
          document.getElementById("result_section").style.display="flex"
          document.getElementById("post_action_section").style.display="flex"
          document.getElementById("login_section").style.display="none"
      });
  
  
  } );

</script>
 
</body>
</html>